*{
	box-sizing: border-box;
}

body{
	background-color: wheat;
	font-family: 'Bebas Neue', cursive;
}

#header-nav{
	background-color: salmon;
	border-radius: 0;
	border: 0;
}

#logo-img{
/*	background: url() no-repeat;*/
	background-color: lightpink;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	margin: 10px 15px 5px 0px;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-brand p {
	text-transform: uppercase;
/*	margin-top: 15px;*/
	font-size: 1em;
}