*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	background-color: darkred;
	border: 5px solid purple;
}
.row{
	background-color: darkblue;
	border: 5px solid black;
}
.col-lg-4{
	background-color: lightseagreen;
	border: 5px solid whitesmoke;
}